footer{
  padding:0;
  
}
footer *{
  margin:0;
  padding:0;
}
footer .footer-image{
  width: 100vw;
  position: relative;
}
.footer hr{
  margin: 0 auto;
  width: 30%;
  opacity: 0.2;
}
footer .footer-image::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index:99;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 5vh;
  background-position-x: center;
  background-image: url("https://cdn.pixabay.com/photo/2017/10/16/23/02/brooklyn-2858985_960_720.png");
  opacity: 0.05;
  z-index: -1;
}
footer .footer-holder{
  padding: 5vmin 14vw;
}
footer .footer-holder p{
  font-weight: 100;
  font-size: 2vmin;
  text-align: center;
  color: grey;
}
footer .social-media{
  margin: 5vmin auto 6vmin auto;
 display: flex;
 flex-direction: row;
 justify-content: center;
 color: grey;
}
footer .social-media li{
  margin: 0 4vmin;
  list-style: none;
}
footer .footer-holder .copyright{
  font-size: 1.2vmin;
  color: grey;
}

/* linear-gradient(to bottom, #f863fd, royalblue);
-webkit-linear-gradient(top, #f863fd, royalblue);
-moz-linear-gradient(top, #f863fd, royalblue) */
