.all{
  position: relative;
  margin:0;
  padding: 0;
  overflow-x: hidden;
}
.all .main{
  margin: 8vmin 0 0 0;
  padding: 0;
  width: 100%;
}
.link{
  text-decoration: none;
}
.loading{
  width:100%;
  text-align: center;
  position: relative;
  margin-top: 45vh;
}